<link rel="stylesheet" href="css/activities.css">
{{> navbar}}
<div class="events-title col-md-12">
    <h1>Latest Events</h1>
</div>


<div class="event-list">
    {{#each event}}
     <div class="container">
        <div class='col-md-4 event-image-container'>
            <img src="http://placehold.it/150x100">
            <div>
                <h4 id="event-attendees">3 Spots Remaining! </h4><br>
                <a href="/event?id={{this.id}}&join=true"><input type="submit" id="joinButton" class="btn btn-primary active" value="Join Event"></a>
            </div>
        </div>
        <div class="col-md-6 event-info-container">
            <h2 id="event-title">{{this.name}}</h2><br>
            <span id="event-times">Time: {{this.startTime}} - {{this.endTime}}</span><br><span id="event-date">   Date: {{this.date}}</span><br><span id="event-category">Category: {{this.category}}</span>
            <hr>
                <p id="event-description">{{this.description}}</p>
        </div>
    </div>
    {{/each}}

    <div class="container">
        <div class='col-md-4 event-image-container'>
            <img src="http://placehold.it/150x100">
            <div>
                <h4 id="event-attendees">3 Spots Remaining! </h4><br>
                <a href="#"><input type="submit" id="joinButton" class="btn btn-primary active" value="Join Event"></a>
            </div>
        </div>
        <div class="col-md-6 event-info-container">
            <h2 id="event-title">Name of Event</h2><br>
            <span id="event-times">Time: 9:30AM - 10:30AM</span><br><span id="event-date">   Date: 7/14/2017</span><br><span id="event-category">   Category: Sports</span>
            <hr>
                <p id="event-description">"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."</p>
        </div>
    </div
    ><div class="container">
        <div class='col-md-4 event-image-container'>
            <img src="http://placehold.it/150x100">
             <div>
                <h4 id="event-attendees">3 Spots Remaining! </h4><br>
                <a href="#"><input type="submit" id="joinButton" class="btn btn-primary active" value="Join Event">
            </div>
        </div>
        <div class="col-md-6 event-info-container">
            <h2 id="event-title">Name of Event</h2><br>
            <span id="event-times">9:30AM - 10:30AM</span><span id="event-date">   7/14/2017</span><span id="event-category">   Sports</span>
            <hr>
            <p id="event-description">"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."</p>
        </div>
    </div>
    <div class="container">
        <div class='col-md-4 event-image-container'>
            <img src="http://placehold.it/150x100">
             <div>
                <h4 id="event-attendees">3 Spots Remaining! </h4><br>
                <a href="#"><input type="submit" id="joinButton" class="btn btn-primary active" value="Join Event">
            </div>
        </div>
        <div class="col-md-6 event-info-container">
             <h2 id="event-title">Name of Event</h2><br>
            <span id="event-times">9:30AM - 10:30AM</span><span id="event-date">   7/14/2017</span><span id="event-category">   Sports</span>
            <hr>
             <p id="event-description">"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."</p>
        </div>
    </div>
    <div class="container">
        <div class='col-md-4 event-image-container'>
            <img src="http://placehold.it/150x100">
             <div>
                <h4 id="event-attendees">3 Spots Remaining! </h4><br>
                <a href="#"><input type="submit" id="joinButton" class="btn btn-primary active" value="Join Event">
            </div>
        </div>
        <div class="col-md-6 event-info-container">
              <h2 id="event-title">Name of Event</h2><br>
          <span id="event-times">9:30AM - 10:30AM</span><span id="event-date">   7/14/2017</span><span id="event-category">   Sports</span>
            <hr>
             <p id="event-description">"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."</p>
        </div>
    </div>
    <div class="container">
        <div class='col-md-4 event-image-container'>
            <img src="http://placehold.it/150x100">
             <div>
                <h4 id="event-attendees">3 Spots Remaining! </h4><br>
                <a href="#"><input type="submit" id="joinButton" class="btn btn-primary active" value="Join Event">
            </div>
        </div>
        <div class="col-md-6 event-info-container">
              <h2 id="event-title">Name of Event</h2><br>
           <span id="event-times">9:30AM - 10:30AM</span><span id="event-date">   7/14/2017</span><span id="event-category">   Sports</span>
            <hr>
             <p id="event-description">"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."</p>
        </div>
    </div>
</div>
<script>

//create an event
//create a user

//





</script>
