<link rel="stylesheet" href="css/activities.css">
{{> navbar}}
<div class="events-title col-md-12">
    <h1>Latest Events</h1>
</div>


<div class="event-list">
    {{#each event}}
     <div class="container">
        <div class='col-md-4 event-image-container'>
            {{#if image}}
            <img src="{{this.image}}">
            {{else}}
            <img src="images/concert.jpg">
            {{/if}}
            <div>
                <h4 id="event-attendees">{{subtract this.numAttendees this.numGoing}} Spots Remaining!</h4><br>
                <a href="/event?id={{this.id}}&join=true"><input type="submit" id="joinButton" class="cd btn" value="Join Event"></a>
            </div>
        </div>
        <div class="col-md-6 event-info-container">
            <h2 id="event-title">{{this.name}}</h2><br>
            <span id="event-times">Time: {{this.startTime}} - {{this.endTime}}</span><br><span id="event-date">   Date: {{this.date}}</span><br><span id="event-category">Category: {{this.category}}</span><br><span id="event-location">   Location: {{this.location}}</span>
            <hr>
                <p id="event-description">{{this.description}}</p>
        </div>
    </div>
    {{/each}}

</div>
<script>

//create an event
//create a user

//





</script>
