<div class="container">

<h1> {{event.name}}</h1>
<img src="">
<h2>{{event.startTime}} - {{event.endTime}}</h2>
<h2>{{event.date}}</h2>
<h2>{{event.category}}</h2>
<h2>{{event.description}}</h2>
<img src={{event.image}}> 
</div>